<div class="zotlo-checkout__card {{CLASS_NAME}}" {{ATTRIBUTES}}>
  {{CARD_TOP}}

  <div class="zotlo-checkout__form">
    <% IF(FORM_TYPE===["creditCard", "both"]) %>
    {{CREDIT_CARD_SECTION}}
    <% ENDIF %>

    <% IF(FORM_TYPE===["subscriberId", "both"]) %>
    {{SUBSCRIBER_ID_EMAIL}}
    {{SUBSCRIBER_ID_PHONE}}
    {{ZIP_CODE}}
    <% IF(SHOW_BILLING_FORM===true) %>
    <div class="zotlo-checkout__billing">
      {{BILLING_ACTIVATE}}
      <div class="zotlo-checkout__billing__fields" {{BILLING_ATTRIBUTES}}>
        {{BILLING_BUSINESS_NAME}}
        {{BILLING_ADDRESS_LINE}}
        <div class="zotlo-checkout__form__col2">
          {{BILLING_CITY_TOWN}}
          {{BILLING_TAX_ID}}
        </div>
      </div>
    </div>
    <% ENDIF %>
    <% ENDIF %>

    <% IF(SHOW_PRICE===true) %>
    <div class="zotlo-checkout__total">
      <div class="zotlo-checkout__total__price-info">
        <span>{{TOTAL_LABEL}}:</span>
        <span data-total-price>{{TOTAL_PRICE}}</span>
      </div>
      <% IF(QUANTITY_INFO) %>
        <div class="zotlo-checkout__total__quantity-info" data-quantity-info>{{QUANTITY_INFO}}</div>
      <% ENDIF %>
    </div>
    <% ENDIF %>
  </div>

  <% IF(FORM_TYPE===["creditCard", "both"]) %>
  <div>
    {{CARD_SUBMIT}}
    <div class="zotlo-checkout__card-logos">
      <div><img src="{{CDN_URL}}img/payment-methods/visa.png" alt="visa"></div>
      <div><img src="{{CDN_URL}}img/payment-methods/mastercard.png" alt="mastercard"></div>
      <div><img src="{{CDN_URL}}img/payment-methods/american.png" alt="american"></div>
      <div><img src="{{CDN_URL}}img/payment-methods/mnp.png" alt="mnp"></div>
      <div><img src="{{CDN_URL}}img/payment-methods/jcb.png" alt="jcb"></div>
      <div><img src="{{CDN_URL}}img/payment-methods/discover.png" alt="discover"></div>
      <div><img src="{{CDN_URL}}img/payment-methods/diners.png" alt="diners"></div>
    </div>
  </div>
  <% ENDIF %>

  {{CARD_BOTTOM}}
</div>
