<div class="zotlo-checkout__payment-details">
  <% IF(FORM_TYPE==='CHECKOUT') %>
  <div class="zotlo-checkout__payment-details__main">
    <div class="zotlo-checkout__payment-details__title">{{TITLE}}</div>
    <table>
      <tbody>
        <tr>
          <td class="zotlo-checkout__payment-details__title-col">{{PRODUCT_TITLE}}</td>
          <td class="zotlo-checkout__payment-details__text-col">{{PRODUCT_TEXT}}</td>
        </tr>
        <tr>
          <td class="zotlo-checkout__payment-details__title-col">{{DATE_TITLE}}</td>
          <td class="zotlo-checkout__payment-details__text-col">{{DATE_TEXT}}</td>
        </tr>
        <tr>
          <td class="zotlo-checkout__payment-details__title-col">{{PAYMENT_METHOD_TITLE}}</td>
          <td class="zotlo-checkout__payment-details__text-col">{{PAYMENT_METHOD_TEXT}}</td>
        </tr>
        <tr>
          <td class="zotlo-checkout__payment-details__title-col">{{PAYMENT_AMOUNT_TITLE}}</td>
          <td class="zotlo-checkout__payment-details__text-col">{{PAYMENT_AMOUNT_TEXT}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <% ENDIF %>
  <div class="zotlo-checkout__payment-details__footer">
    <div>{{FOOTER}}</div>
    <% IF(FORM_TYPE==='CARD') %>
    {{FOOTER_COMMON}}
    <% ENDIF %>
  </div>
</div>