body {
  margin: 0;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #e7e7e7;
}

.toaster-group {
  position: fixed;
  right: 10px;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 20;
}

.toaster {
  border-radius: 8px;
  background-color: #FFF0F3;
  padding: 12px;
  display: flex;
  width: auto;
  gap: 8px;
}

.toaster__icon {
  color: #FF2D55;
}

.toaster__content {
  flex: 1;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.toaster__content__title {
  color: #1A1822;
  font-weight: 500;
}

.toaster__content__message {
  color: #78728C;
}

.toaster__close {
  display: block;
  height: 40px;
  width: 40px;
  margin: -12px -12px 0 0;
  border: 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .toaster-group {
    width: 400px;
    right: 20px;
    top: 20px;
    left: auto;
  }
}

.slide-fade-enter-active {
  transition: all 0.2s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

.zotlo-checkout__cookie {
  display: flex;
  position: fixed;
  bottom: 12px;
  z-index: 50;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  align-items: center;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 16px;
  font-size: 14px;
  color: white;
  left: 12px;
  right: 12px;
  line-height: 20px;
  gap: 12px;
  flex-flow: column;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

.zotlo-checkout__cookie a {
  color: white;
}

.zotlo-checkout__cookie__text {
  flex: 1;
}

.zotlo-checkout__cookie__actions {
  display: flex;
  gap: 8px;
  width: 100%;
  justify-content: flex-end;
}

.zotlo-checkout__cookie__actions button {
  display: inline-flex;
  border-radius: 8px;
  background-color: white;
  color: #151b26;
  border: none;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  height: 24px;
  padding: 12px 24px;
  font-family: inherit;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .zotlo-checkout__cookie {
    bottom: 24px;
    left: 24px;
    right: 24px;
    flex-flow: row;
    gap: 16px;
  }

  .zotlo-checkout__cookie__actions {
    width: auto;
  }

  .zotlo-checkout__cookie__actions button {
    font-size: 14px;
    line-height: 20px;
  }
}
