.zotlo-checkout__form,
.zotlo-checkout__billing,
.zotlo-checkout__billing__fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.zotlo-checkout__billing__fields {
  height: 100%;
  max-height: 1000px;
  overflow: hidden;
  transition: all 0.3s ease-in, opacity 0.3s linear;
  opacity: 1;
}

.zotlo-checkout__billing__fields[data-billing-form="false"] {
  max-height: 0px;
  opacity: 0;
  height: 0;
  transition: all 0.2s ease-out, opacity 0.2s linear;
}

.zotlo-checkout__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #151B26;
}

.zotlo-checkout__label > span {
  color: var(--zc-form-input-label-color, #000000);
  font-size: var(--zc-form-input-label-fontSize, 14px);
  font-weight: var(--zc-form-input-label-fontWeight, 500);
  font-style: var(--zc-form-input-label-fontStyle, normal);
  text-decoration: var(--zc-form-input-label-textDecoration, none);
}

.zotlo-checkout__label > span:not(.error) {
  display: var(--zc-form-input-label-display, block);
}

.zotlo-checkout__hint {
  color: #818A9C;
  font-size: 12px;
}

.zotlo-checkout__hint__toggle {
  display: flex;
  align-items: center;
}

.zotlo-checkout__hint.error {
  color: #E13023;
}
.zotlo-checkout__hint:empty {
  display: none !important;
}

.zotlo-checkout__input {
  display: flex;
  background-color: white;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0 8px;
  align-items: center;
}

.zotlo-checkout__input:focus-within {
  border-color: var(--zc-form-submit-backgroundColor);
}

.zotlo-checkout__input:not(.error):not(:focus-within) {
  border-color: #E7EAEE;
}

/* INPUT */ 
.zotlo-checkout__input input {
  border: none;
  background-color: transparent;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  color: #151B26;
  height: 40px;
  padding: 0 8px;
  flex: 1;
}

.zotlo-checkout__input input:focus {
  outline-style: none;
  box-shadow: none;
}
.zotlo-checkout__input input::placeholder {
  color: #818A9C;
}

/* INPUT ERROR */ 
.zotlo-checkout__input.error {
  border-color: #E13023;
}

.zotlo-checkout__input.error:focus-within {
  border-color: #E13023;
}

.zotlo-checkout__input.error input {
  color: #E13023;
}

.zotlo-checkout__input.error input::placeholder {
  color: #FF7F76;
}

.zotlo-checkout__input.error ~ .zotlo-checkout__hint {
  color: #E13023;
  font-size: 12px;
}

/* INPUT DISABLED */ 
.zotlo-checkout__input.disabled {
  border-color: #E7EAEE;
  background-color: #F6F7F9;
  color: #818A9C;
}

.zotlo-checkout__input.disabled input {
  color: #818A9C;
}

.zotlo-checkout__input.disabled input::placeholder {
  color: #818A9C;
}

/* INPUT SIDE ICONS */ 
.zotlo-checkout__input__left,
.zotlo-checkout__input__right,
.zotlo-checkout__input__hint {
  display: flex;
  align-items: center;
}

.zotlo-checkout__input__left:empty,
.zotlo-checkout__input__right:empty,
.zotlo-checkout__input__hint:empty {
  display: none;
}

.zotlo-checkout__card-icon {
  height: 24px;
}

/* INPUT SIDE HINT */ 
.zotlo-checkout__input__hint {
  position: relative;
  align-self: center;
  cursor: pointer;
}

.zotlo-checkout__input__hint:hover .zotlo-checkout__tooltip {
  display: block;
}

.zotlo-checkout__input .zotlo-checkout__select {
  height: 40px;
}
.zotlo-checkout__input .zotlo-checkout__select__toggle {
  height: 100%;
}

.zotlo-checkout__input .zotlo-checkout__select__toggle .zotlo-checkout__select__list__item .zotlo-checkout__select__list__item__img {
  display: flex;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 16px;
  overflow: hidden;
  border-radius: 50%;
  justify-content: center;
  vertical-align: middle;
}

.zotlo-checkout__input  .zotlo-checkout__input__country {
  width: 16px;
  height: 16px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  object-fit: cover;
  margin-left: 8px;
}

.zotlo-checkout[data-theme="dark"] .zotlo-checkout__input {
  background-color: #19191C;
}

.zotlo-checkout[data-theme="dark"] .zotlo-checkout__input:not(.error):not(:focus-within) {
  border-color: #6B7283;
}

.zotlo-checkout[data-theme="dark"] .zotlo-checkout__input input {
  color: white;
}

.zotlo-checkout[data-theme="dark"] .zotlo-checkout__input input::placeholder {
  color: #818A9C;
}

.zotlo-checkout[data-theme="dark"] .zotlo-checkout__input.disabled {
  border-color: #3F4147 !important;
  background-color: #313134;
  color: #6B6E74;
}

.zotlo-checkout[data-theme="dark"] .zotlo-checkout__input.disabled input
.zotlo-checkout[data-theme="dark"] .zotlo-checkout__input.disabled input::placeholder {
  color: #6B6E74 !important;
}
