.zotlo-checkout__modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  will-change: transform, opacity;
}

.zotlo-checkout__modal__content {
  background-color: white;
  max-width: 1024px;
  width: 100%;
  height: 100%;
  max-height: 800px;
  border-radius: 10px;
  color: #000000;
  display: flex;
  flex-direction: column;
}

.zotlo-checkout__modal__content__header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #c3c9d5;
  padding: 20px 16px 20px 24px;
}

.zotlo-checkout__modal__content__header__title {
  flex: 1;
  font-size: 20px;
  font-weight: 600;
}

.zotlo-checkout__modal__content__header__close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: #f6f7f9;
  border-radius: 8px;
  color: #586174 !important;
}

.zotlo-checkout__modal__content__body {
  padding: 0 20px;
  flex: 1;
}

.zotlo-checkout__modal__content__body iframe {
  height: 100%;
}

.zotlo-checkout__modal-enter-from,
.zotlo-checkout__modal-enter-to {
  opacity: 0;
}

.zotlo-checkout__modal-enter-active,
.zotlo-checkout__modal-leave-active{
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: scaleX(1.1) scaleY(1.1);
}
