
@import "./input.css";
@import "./checkbox.css";
@import "./tooltip.css";
@import "./select.css";
@import "./button.css";
@import "./modal.css";
@import "./theme/default.css";
@import "./theme/mobileapp.css";

.zotlo-checkout {
  --zc-color: #000000;
  --zc-fontFamily: inherit;
  --zc-form-backgroundColor: #FFFFFF;
  --zc-form-borderRadius: 8px;
  --zc-form-borderWidth: 1px;
  --zc-form-borderColor: #E7EAEE;
  --zc-form-input-label-display: block;
  --zc-form-input-label-color: #000000;
  --zc-form-input-label-fontSize: 14px;
  --zc-form-input-label-fontWeight: 500;
  --zc-form-input-label-fontStyle: normal;
  --zc-form-input-label-textDecoration: none;
  --zc-form-consent-color: #000000;
  --zc-form-consent-fontSize: 14px;
  --zc-form-consent-fontWeight: normal;
  --zc-form-consent-fontStyle: normal;
  --zc-form-consent-textDecoration: none;
  --zc-form-totalPrice-color: #151B26;
  --zc-form-submit-color: #FFFFFF;
  --zc-form-submit-borderColor: #4329CC;
  --zc-form-submit-backgroundColor: #4329CC;
  --zc-form-submit-borderWidth: 0px;
  --zc-form-submit-borderRadius: 8px;
  --zc-form-submit-fontWeight: normal;
  --zc-form-submit-fontStyle: normal;
  --zc-form-submit-textDecoration: none;
  --zc-form-submit-hover-color: #FFFFFF;
  --zc-form-submit-hover-borderColor: #301BA3;
  --zc-form-submit-hover-backgroundColor: #301BA3;
  --zc-form-card-item-backgroundColor: #765EF51F;
  --zc-form-card-item-borderColor: #765EF5;
  --zc-form-spinner-color: #BBBFFF;
  --zc-form-disabled-opacity: 0.5;
  --zc-form-disabled-cursor: not-allowed;
  --zc-footer-color: #737380;
  --zc-footer-fontSize: 10px;
  --zc-form-provider-backgroundColor: #000000;
  --zc-success-button-color: #FFFFFF;
  --zc-success-button-backgroundColor: #4329CC;
  --zc-success-button-borderColor: #4329CC;
  --zc-success-button-backgroundColor: #4329CC;
  --zc-success-button-borderWidth: 0px;
  --zc-success-button-borderRadius: 8px;
  --zc-success-button-hover-color: #FFFFFF;
  --zc-success-button-hover-borderColor: #301BA3;
  --zc-success-button-hover-backgroundColor: #301BA3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-optical-sizing: auto;
  
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  padding: 16px;
  border-radius: var(--zc-form-borderRadius);
  font-family: var(--zc-fontFamily, inherit);
  background-color: var(--zc-form-backgroundColor);
  display: grid;
  gap: 16px;
  min-width: 320px;
  max-width: 460px;
  color: var(--zc-color);
  position: relative;
  overflow: hidden;
}

.zotlo-checkout,
.zotlo-checkout *, 
.zotlo-checkout::after, 
.zotlo-checkout::before, 
.zotlo-checkout::backdrop, 
.zotlo-checkout::file-selector-button {
  box-sizing: border-box;
  font-family: var(--zc-fontFamily, inherit);
}

.zotlo-checkout img {
  max-width: 100%;
}

.zotlo-checkout table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  font-weight: 500;
}

.zotlo-checkout table td {
  border-bottom: 1px solid #EBEBEB;
  padding: 8px 0;
}

.zotlo-checkout[data-theme="dark"] table td {
  border-bottom-color: #333333;
}

.zotlo-checkout table td:last-child {
  text-align: right;
  white-space: nowrap;
}
.zotlo-checkout[dir="rtl"] table td:last-child {
  text-align: left;
}

.zotlo-checkout table tbody tr:not(.zotlo-checkout__package__summary__head) td {
  color: #68686A;
}

.zotlo-checkout tfoot tr.zotlo-checkout__package__summary__head td {
  padding-top: 24px;
}

.zotlo-checkout tfoot tr.zotlo-checkout__package__summary__head td {
  border-bottom: none;
}

.zotlo-checkout a { color: #007AFF; }
.zotlo-checkout a:hover {
  text-decoration: underline;
}

.zotlo-checkout__header {
  border-bottom: 1px solid #EBEBEB;
  position: relative;
  z-index: 10;
}

.zotlo-checkout[data-theme="dark"] .zotlo-checkout__header {
  border-bottom-color: #333333;
}

.zotlo-checkout__header__info {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
}

.zotlo-checkout__header__info img {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  object-fit: contain;
  object-position: center;
}

.zotlo-checkout__header__info span {
  flex: 1;
}

.zotlo-checkout__header__info a {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #78728C;
  font-size: 12px;
  font-weight: 600;
  padding: 7px;
  height: 100%;
  margin-right: -8px;
  text-decoration: none;
}

.zotlo-checkout__form__col2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
}

.zotlo-checkout__agreement, .zotlo-checkout__save-card  {
  color: var(--zc-form-consent-color);
  font-size: var(--zc-form-consent-fontSize);
  font-style: var(--zc-form-consent-fontStyle);
  text-decoration: var(--zc-form-consent-textDecoration);
}

.zotlo-checkout__agreement .zotlo-checkout__checkbox-label {
  align-self: center;
}
.zotlo-checkout__agreement .zotlo-checkout__checkbox-label,
.zotlo-checkout__agreement .zotlo-checkout__checkbox-label a,
.zotlo-checkout__save-card .zotlo-checkout__checkbox-label,
.zotlo-checkout__save-card .zotlo-checkout__checkbox-label a {
  font-size: var(--zc-form-consent-fontSize);
  font-weight: var(--zc-form-consent-fontWeight);
}

.zotlo-checkout__agreement .zotlo-checkout__checkbox-label a,
.zotlo-checkout__save-card .zotlo-checkout__checkbox-label a {
  color: currentColor;
  text-decoration: underline;
}

.zotlo-checkout__total {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 16px 0;
}

.zotlo-checkout__total__price-info {
  display: flex;
  justify-content: space-between;
  color: var(--zc-form-totalPrice-color);
  font-size: 18px;
  font-weight: 600;
}

.zotlo-checkout__total__quantity-info {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: #78728C;
  text-align: left;
}

.zotlo-checkout__total__quantity-info-table-row td {
  padding-top: 0 !important;
}

.zotlo-checkout__total--basic {
  margin: 0 !important;
}

.zotlo-checkout__card-logos {
  display: flex;
  justify-content: center;
  margin: 8px 0;
  min-height: 33px;
}

.zotlo-checkout__card-logos img {
  display: block;
  max-height: 33px;
}

.zotlo-checkout__cardSubmit {
  margin-top: 16px;
}

.zotlo-checkout__button.provider {
  background-color: var(--zc-form-provider-backgroundColor);
}

.zotlo-checkout__button.provider img {
  max-height: 24px;
}

.zotlo-checkout__button.provider.paypal {
  background-color: #f6c444;
}

.zotlo-checkout__cardSubmit {
  color: var(--zc-form-submit-color);
  background-color: var(--zc-form-submit-backgroundColor);
  border: var(--zc-form-submit-borderWidth) solid var(--zc-form-submit-borderColor);
  border-radius: var(--zc-form-submit-borderRadius);
  font-weight: var(--zc-form-submit-fontWeight);
  font-style: var(--zc-form-submit-fontStyle);
  text-decoration: var(--zc-form-submit-textDecoration);
}

.zotlo-checkout__button[disabled], .zotlo-checkout__cardSubmit[disabled] {
  opacity: var(--zc-form-disabled-opacity);
  cursor: var(--zc-form-disabled-cursor);
}

.zotlo-checkout__cardSubmit:not([disabled]):hover {
  color: var(--zc-form-submit-hover-color);
  background-color: var(--zc-form-submit-hover-backgroundColor);
  border-color: var(--zc-form-submit-hover-borderColor);
}

.zotlo-checkout__card-title {
  margin-top: 24px;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  font-family: var(--zc-fontFamily, inherit);
  color: #0D0626;
  letter-spacing: 0;
}

.zotlo-checkout[data-theme="dark"] .zotlo-checkout__card-title {
  color: #6B7283;
}

.zotlo-checkout__seperator {
  display: flex;
  align-items: center;
  color: #818A9C;
}

.zotlo-checkout__seperator::before, 
.zotlo-checkout__seperator::after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: #E7EAEE;
}

.zotlo-checkout__seperator span {
  flex-shrink: 0;
  padding: 0 16px;
  font-size: 12px;
}

.zotlo-checkout[data-theme="dark"] .zotlo-checkout__seperator {
  color: #6B7283;
}
.zotlo-checkout[data-theme="dark"] .zotlo-checkout__seperator::before,
.zotlo-checkout[data-theme="dark"] .zotlo-checkout__seperator::after {
  background-color: #6B7283;
}

.zotlo-checkout__footer {
  text-align: center;
  display: grid;
  gap: 12px;
  color: var(--zc-footer-color);
  font-size: var(--zc-footer-fontSize)
}

.zotlo-checkout__footer nav {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.zotlo-checkout__noMethod {
  max-width: 242px;
  margin: 0 auto;
  min-height: 530px;
  display: flex;
  align-items: center;
}

.zotlo-checkout__noMethod__wrapper {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  max-width: 242px;
  text-align: center;
  background-color: #F6F7F9;
  border-radius: 16px;
  font-size: 14px;
  color: #A9A7B1;
}

.zotlo-checkout__noMethod__title {
  font-weight: 600;
}

.zotlo-checkout .zotlo-checkout__payment-provider[data-tab-active="false"] {
  display: none;
  visibility: hidden;
}

.zotlo-checkout .zotlo-checkout__payment-provider[data-tab-active="true"] {
  display: block;
  visibility: visible;
}

.zotlo-checkout__success {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 5;
  min-height: 500px;
  text-align: center;
  color: var(--zc-success-color);
  background-color: var(--zc-form-backgroundColor);
  gap: 64px;
}

.zotlo-checkout[data-type="card"] .zotlo-checkout__success {
  min-height: 300px;
}

.zotlo-checkout__success__main {
  width: 100%;
}

.zotlo-checkout__success__main svg {
  margin: 0 auto;
}

.zotlo-checkout__success .zotlo-checkout__button {
  margin: 16px 0;
  color: var(--zc-success-button-color);
  border: var(--zc-success-button-borderWidth) solid var(--zc-success-button-borderColor);
  border-radius: var(--zc-success-button-borderRadius);
  background-color: var(--zc-success-button-backgroundColor);
  font-weight: var(--zc-success-button-fontWeight);
  font-style: var(--zc-success-button-fontStyle);
  text-decoration: var(--zc-success-button-textDecoration);
}

.zotlo-checkout__success .zotlo-checkout__button:hover {
  margin: 16px 0;
  color: var(--zc-success-button-hover-color);
  border-color: var(--zc-success-button-hover-borderColor);
  background-color: var(--zc-success-button-hover-backgroundColor);
}

.zotlo-checkout__success__title {
  font-weight: 600;
  font-size: 16px;
  margin-top: 4px;
}

.zotlo-checkout__success__desc {
  font-weight: 500;
  font-size: 14px;
  margin-top: 4px;
}

.zotlo-checkout[data-type="card"] .zotlo-checkout__success .zotlo-checkout__success__desc {
  margin-top: 15px;
}

.zotlo-checkout[data-type="card"] .zotlo-checkout__success .zotlo-checkout__cardSubmit {
  margin-top: 31px;
}

.zotlo-checkout__success__timer {
  font-weight: 500;
  font-size: 14px;
  margin: 4px auto 0;
  color: #68686A;
}

.zotlo-checkout__success__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  justify-content: center;
  max-width: 260px;
  margin: 16px auto 0;
}

.zotlo-checkout__success__buttons img {
  height: 34px;
  display: block;
}

.zotlo-checkout__payment-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.zotlo-checkout__payment-details__main {
  padding: 16px;
}

.zotlo-checkout__payment-details table tbody tr td.zotlo-checkout__payment-details__title-col,
.zotlo-checkout__payment-details table tbody tr td.zotlo-checkout__payment-details__text-col {
  color: var(--zc-success-color);
  white-space: normal;
  font-size: 12px;
  border-bottom: 1px solid #68686A;
}

.zotlo-checkout__payment-details table tbody tr:last-child td.zotlo-checkout__payment-details__title-col,
.zotlo-checkout__payment-details table tbody tr:last-child td.zotlo-checkout__payment-details__text-col {
  border-bottom: none;
}

.zotlo-checkout__payment-details__title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 8px;
}

.zotlo-checkout__payment-details .zotlo-checkout__payment-details__title-col {
  text-align: left;
  font-weight: 400;
}

.zotlo-checkout__payment-details .zotlo-checkout__payment-details__text-col {
  text-align: right;
  font-weight: 500;
  padding-left: 8px;
}

.zotlo-checkout__payment-details__footer {
  color: #737380;
  font-size: 10px;
  line-height: 1.437;
  font-weight: 400;
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.zotlo-checkout__payment-details__footer a {
  color: #008BFF;
  text-decoration: none;
}

.zotlo-checkout__loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: #0B0B0BA3;
}

.zotlo-checkout__loader::before {
  position: relative;
  content: "";
  display: block;
  width: 44px;
  height: 44px;
  border: 3px solid transparent;
  border-top: 3px solid var(--zc-form-spinner-color);
  border-right: 3px solid var(--zc-form-spinner-color);
  border-bottom: 3px solid var(--zc-form-spinner-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.zotlo-checkout__payment-provider .gpay-card-info-container-fill, 
.zotlo-checkout__payment-provider .gpay-card-info-container-fill > .gpay-card-info-container {
  height: 48px;
}
.zotlo-checkout__payment-provider .gpay-card-info-container, 
.zotlo-checkout__payment-provider .gpay-card-info-animation-container {
  outline: none !important;
}

.gpay-card-info-container[disabled] {
  opacity: var(--zc-form-disabled-opacity);
  cursor: var(--zc-form-disabled-cursor);
}

.gpay-card-info-container[disabled].black.hover {
  background-color: #000;
}

.gpay-card-info-container[disabled].white.hover {
  background-color: #FFF;
}

.zotlo-checkout__card-all-cards-button {
  background: transparent;
  border: none;
  color: #008BFF;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  padding: 0;
  line-height: 20px;
  text-decoration: none;
  align-self: flex-end;
}

.zotlo-checkout__card-item {
  border: 1px solid #E7EAEE;
  border-radius: 8px;
  padding: 8px 16px 8px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.zotlo-checkout input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.zotlo-checkout input[type="radio"]:disabled {
  cursor: not-allowed;
}

.zotlo-checkout__card-item .zotlo-checkout__card-item-info {
  flex: 1;
}

.zotlo-checkout input[type="radio"]:checked ~ .zotlo-checkout__radio-button {
  border-color: #4329CC;
  background: #4329CC;
  position: relative;
}

.zotlo-checkout input[type="radio"]:checked ~ .zotlo-checkout__radio-button::after {
  content: '';
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
}

.zotlo-checkout__card-item:has(input[type="radio"]:checked), .zotlo-checkout__form-container:has(input[type="radio"]:checked) {
  background: var(--zc-form-card-item-backgroundColor);
  border-color: var(--zc-form-card-item-borderColor);
}

.zotlo-checkout__card-item:has(input[type="radio"]:disabled) {
  background: #F6F7F9;
  color: #C3C9D5;
  cursor: not-allowed;
}

.zotlo-checkout__card-item:has(input[type="radio"]:disabled) .zotlo-checkout__card-item-number,
.zotlo-checkout__card-item:has(input[type="radio"]:disabled) .zotlo-checkout__card-item-expiry-date {
  color: #C3C9D5;
}

.zotlo-checkout__card-item:has(input[type="radio"]:disabled) {
  background: #F6F7F9;
}

.zotlo-checkout__card-item:has(input[type="radio"]:disabled) .zotlo-checkout__radio-button {
  border: none;
}

.zotlo-checkout__radio-button {
  width: 20px;
  height: 20px;
  border: 2px solid #E7EAEE;
  border-radius: 50%;
  margin-right: 6px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.zotlo-checkout__card-item .zotlo-checkout__card-item-number {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--zc-form-card-item-color);
}

.zotlo-checkout__card-item .zotlo-checkout__card-item-expiry-date {
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  color: #737380;
}

.zotlo-checkout__card-item-logo {
  display: flex;
  align-items: center;
}

.zotlo-checkout__card-item-logo img {
  max-height: 24px;
}

.zotlo-checkout__card-item-logo span {
  font-size: 9px;
  line-height: 14px;
  color: #FF2D55;
  font-weight: 400;
}

.zotlo-checkout__form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #E7EAEE;
  border-radius: 8px;
}

.zotlo-checkout__form-container:has(input[type="radio"]:checked) .zotlo-checkout__form-card-fields {
  display: flex;
}

.zotlo-checkout__form-container-radio {
  padding: 16px 8px 16px 10px;
  display: flex;
  flex: 1;
  cursor: pointer;
}

.zotlo-checkout__form-container-radio-text {
  color: var(--zc-form-card-item-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.zotlo-checkout__form-card-fields {
  position: relative;
  display: none;
  flex-direction: column;
  gap: 16px;
  padding: 0 8px 16px;
}

[data-theme="dark"] .zotlo-checkout__modal[data-modal="all-cards"] .zotlo-checkout__card-item .zotlo-checkout__card-item-number {
  color: #0D0626;
}

.zotlo-checkout__modal[data-modal="all-cards"] .zotlo-checkout__modal__content {
  max-width: 440px;
  height: auto;
  max-height: 95%;
}

.zotlo-checkout__modal[data-modal="all-cards"] .zotlo-checkout__modal__content__header {
  padding: 16px 24px;
  border-color: #E7EAEE;
}

.zotlo-checkout__modal[data-modal="all-cards"] .zotlo-checkout__modal__content__header__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.zotlo-checkout__modal[data-modal="all-cards"] .zotlo-checkout__modal__content__body {
  display: flex;
  flex-flow: column;
  padding: 24px;
  gap: 16px;
  overflow: auto;
}

.zotlo-checkout__modal[data-modal="all-cards"] .zotlo-checkout__modal__content__footer {
  border-color: #E7EAEE;
}

.zotlo-checkout__modal[data-modal="all-cards"] .zotlo-checkout__modal__content__footer a {
  height: 32px;
  display: flex;
  align-items: center;
}

.zotlo-checkout__modal[data-modal="all-cards"] .zotlo-checkout__modal__content__footer button {
  max-height: 40px;
}

.zotlo-checkout__modal[data-modal="all-cards"] .zotlo-checkout__modal__content__footer .zotlo-checkout__modal--all-cards-footer-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes spin {
  from { 
    transform: rotate(0deg); 
  }
  to { 
    transform: rotate(360deg); 
  }
}

@media (min-width: 640px) {
  .zotlo-checkout {
    border: var(--zc-form-borderWidth, 1px) solid var(--zc-form-borderColor, #E7EAEE);
  }
}

@media screen and (max-width: 440px) {
  .zotlo-checkout__modal[data-modal="all-cards"] .zotlo-checkout__modal__content__header,
  .zotlo-checkout__modal[data-modal="all-cards"] .zotlo-checkout__modal__content__body,
  .zotlo-checkout__modal[data-modal="all-cards"] .zotlo-checkout__modal__content__footer {
    padding: 16px;
  }

  .zotlo-checkout__modal[data-modal="all-cards"] .zotlo-checkout__modal__content__footer .zotlo-checkout__modal--all-cards-footer-holder {
    flex-direction: column-reverse;
    gap: 16px;
  }

  .zotlo-checkout__modal[data-modal="all-cards"] .zotlo-checkout__button-container {
    width: 100%;
  }

  .zotlo-checkout__modal[data-modal="all-cards"] .zotlo-checkout__modal__content__footer button {
    flex: 1;
  }
}
