
@import "./input.css";
@import "./checkbox.css";
@import "./tooltip.css";
@import "./select.css";
@import "./button.css";
@import "./modal.css";
@import "./theme/default.css";
@import "./theme/mobileapp.css";

.zotlo-checkout {
  --zc-color: #000000;
  --zc-fontFamily: inherit;
  --zc-form-backgroundColor: #FFFFFF;
  --zc-form-borderRadius: 8px;
  --zc-form-borderWidth: 1px;
  --zc-form-borderColor: #E7EAEE;
  --zc-form-input-label-display: block;
  --zc-form-input-label-color: #000000;
  --zc-form-input-label-fontSize: 14px;
  --zc-form-input-label-fontWeight: 500;
  --zc-form-input-label-fontStyle: normal;
  --zc-form-input-label-textDecoration: none;
  --zc-form-consent-color: #000000;
  --zc-form-consent-fontSize: 14px;
  --zc-form-consent-fontWeight: normal;
  --zc-form-consent-fontStyle: normal;
  --zc-form-consent-textDecoration: none;
  --zc-form-totalPrice-color: #151B26;
  --zc-form-submit-color: #FFFFFF;
  --zc-form-submit-borderColor: #4329CC;
  --zc-form-submit-backgroundColor: #4329CC;
  --zc-form-submit-borderWidth: 0px;
  --zc-form-submit-borderRadius: 8px;
  --zc-form-submit-fontWeight: normal;
  --zc-form-submit-fontStyle: normal;
  --zc-form-submit-textDecoration: none;
  --zc-form-submit-hover-color: #FFFFFF;
  --zc-form-submit-hover-borderColor: #301BA3;
  --zc-form-submit-hover-backgroundColor: #301BA3;
  --zc-form-card-item-backgroundColor: #765EF51F;
  --zc-form-card-item-borderColor: #765EF5;
  --zc-form-spinner-color: #BBBFFF;
  --zc-form-disabled-opacity: 0.5;
  --zc-form-disabled-cursor: not-allowed;
  --zc-footer-color: #737380;
  --zc-footer-fontSize: 10px;
  --zc-form-provider-backgroundColor: #000000;
  --zc-success-button-color: #FFFFFF;
  --zc-success-button-backgroundColor: #4329CC;
  --zc-success-button-borderColor: #4329CC;
  --zc-success-button-backgroundColor: #4329CC;
  --zc-success-button-borderWidth: 0px;
  --zc-success-button-borderRadius: 8px;
  --zc-success-button-hover-color: #FFFFFF;
  --zc-success-button-hover-borderColor: #301BA3;
  --zc-success-button-hover-backgroundColor: #301BA3;

  --zc-offer-info-color: #765EF5;
  --zc-offer-info-backgroundColor: #765EF526;
  --zc-offer-title-color: #1A1822;
  --zc-offer-title-fontSize: 19px;
  --zc-offer-subtitle-color: #1A1822;
  --zc-offer-subtitle-fontSize: 14px;
  --zc-offer-priceText-color: #1A1822;
  --zc-offer-priceText-fontSize: 14px;
  --zc-offer-acceptButton-color: #FFFFFF;
  --zc-offer-acceptButton-backgroundColor: #765EF5;
  --zc-offer-acceptButton-borderRadius: 8px;
  --zc-offer-acceptButton-fontSize: 14px;
  --zc-offer-declineButton-color: #737380;
  --zc-offer-declineButton-fontSize: 10px;

  --zc-priceCard-backgroundColor: #F6F7F9;
  --zc-priceCard-borderColor: #E7EAEE;
  --zc-priceCard-borderWidth: 1px;
  --zc-priceCard-borderRadius: 8;
  --zc-priceCard-secondaryColor: #818A9C;
  --zc-priceCard-defaultColor: #0D0626;
  --zc-priceCard-description-color: #0D0626;
  --zc-priceCard-description-fontSize: 12px;
  --zc-priceCard-description-fontWeight: 500;
  --zc-priceCard-description-fontStyle: normal;
  --zc-priceCard-description-textDecoration: none;
  --zc-priceCard-trialText-fontSize: 12px;
  --zc-priceCard-trialText-color: #0D0626;
  --zc-priceCard-trialPrice-fontSize: 14px;
  --zc-priceCard-trialPrice-color: #0D0626;
  --zc-priceCard-period-fontSize: 12px;
  --zc-priceCard-period-color: #0D0626;
  --zc-priceCard-period-subtextColor: #0D062680;
  --zc-priceCard-price-fontSize: 14px;
  --zc-priceCard-price-color: #0D0626;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-optical-sizing: auto;

  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  padding: 16px;
  border-radius: var(--zc-form-borderRadius);
  font-family: var(--zc-fontFamily, inherit);
  background-color: var(--zc-form-backgroundColor);
  display: grid;
  gap: 16px;
  min-width: 320px;
  max-width: 460px;
  color: var(--zc-color);
  position: relative;
  overflow: hidden;
}

.zotlo-checkout,
.zotlo-checkout *,
.zotlo-checkout::after,
.zotlo-checkout::before,
.zotlo-checkout::backdrop,
.zotlo-checkout::file-selector-button {
  box-sizing: border-box;
  font-family: var(--zc-fontFamily, inherit);
}

.zotlo-checkout img {
  max-width: 100%;
}

.zotlo-checkout table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  font-weight: 500;
}

.zotlo-checkout table td {
  border-bottom: 1px solid #EBEBEB;
  padding: 8px 0;
}

.zotlo-checkout table td:last-child {
  text-align: right;
  white-space: nowrap;
}
.zotlo-checkout[dir="rtl"] table td:last-child {
  text-align: left;
}

.zotlo-checkout table tbody tr:not(.zotlo-checkout__package__summary__head) td {
  color: #68686A;
}

.zotlo-checkout tfoot tr.zotlo-checkout__package__summary__head td {
  padding-top: 16px;
}

.zotlo-checkout tfoot tr.zotlo-checkout__package__summary__head td {
  border-bottom: none;
}

.zotlo-checkout a { color: #007AFF; }
.zotlo-checkout a:hover {
  text-decoration: underline;
}

.zotlo-checkout__header {
  border-bottom: 1px solid #EBEBEB;
  position: relative;
  z-index: 10;
}

.zotlo-checkout[data-theme="dark"] .zotlo-checkout__header {
  border-bottom-color: #333333;
}

.zotlo-checkout__header__info {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
}

.zotlo-checkout__header__info img {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  object-fit: contain;
  object-position: center;
}

.zotlo-checkout__header__info span {
  flex: 1;
}

.zotlo-checkout__header__info a {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #78728C;
  font-size: 12px;
  font-weight: 600;
  padding: 7px;
  height: 100%;
  margin-right: -8px;
  text-decoration: none;
}

.zotlo-checkout__price-table {
  border: var(--zc-priceCard-borderWidth) solid var(--zc-priceCard-borderColor);
  background-color: var(--zc-priceCard-backgroundColor);
  padding: 2px 12px;
  border-radius: var(--zc-priceCard-borderRadius);
  font-size: 12px;
  overflow: hidden;
}


/* DISCOUNT CONTENT */
.zotlo-checkout__price-table .zotlo-checkout__discount-content {
  margin-top: 0;
  padding-top: 6px;
}
.zotlo-checkout div[data-price-table] div[data-discount-section] {
  margin-top: 0;
}
.zotlo-checkout__price-table .zotlo-checkout__discount-content button[data-discount-toggle],
.zotlo-checkout__price-table .zotlo-checkout__discount-content__discount-applied {
  height: auto;
}

.zotlo-checkout__price-table .zotlo-checkout__discount-content__coupon {
  background-color: #C6EFFF;
  color: #008BFF;
  font-weight: 500;
}

.zotlo-checkout__price-table .zotlo-checkout__discount-content__price-info--discount {
  color: #008BFF;
  font-size: 12px;
  font-weight: 500;
}

.zotlo-checkout[data-theme="dark"] .zotlo-checkout__price-table .zotlo-checkout__discount-content__coupon {
  background-color: #C6EFFF;
  color: #008BFF;
}

.zotlo-checkout__price-table .zotlo-checkout__total__quantity-info {
  font-size: 10px;
  text-align: right;
  color: currentColor;
  font-weight: normal;
}

[dir="rtl"] .zotlo-checkout__price-table .zotlo-checkout__total__quantity-info {
  text-align: left;
}

.zotlo-checkout__price-table td:first-child {
  font-size: var(--zc-priceCard-period-fontSize) !important;
  font-weight: 500 !important;
  color: var(--zc-priceCard-period-color) !important;
}

.zotlo-checkout__price-table td:last-child {
  font-size: var(--zc-priceCard-price-fontSize) !important;
  font-weight: 600 !important;
  color: var(--zc-priceCard-price-color) !important;
}

.zotlo-checkout__price-table table {
  white-space: nowrap;
}

.zotlo-checkout__price-table table td {
  border: 0;
  border-bottom: 1px solid var(--zc-priceCard-borderColor);
  padding: 6px 0 !important;
}

.zotlo-checkout__price-table tr.zotlo-checkout__price-table__description td {
  white-space: normal !important;
  overflow-wrap: break-word;
  word-break: break-word;
  text-align: center !important;
  font-size: var(--zc-priceCard-description-fontSize) !important;
  font-weight: var(--zc-priceCard-description-fontWeight) !important;
  font-style: var(--zc-priceCard-description-fontStyle);
  text-decoration: var(--zc-priceCard-description-textDecoration);
  color: var(--zc-priceCard-description-color) !important;
  border-bottom: none;
  padding-top: 12px !important;
}

.zotlo-checkout__price-table tr.zotlo-checkout__price-table__trial td:first-child {
  font-size: var(--zc-priceCard-trialText-fontSize) !important;
  color: var(--zc-priceCard-trialText-color) !important;
}

.zotlo-checkout__price-table tr.zotlo-checkout__price-table__trial td:last-child {
  font-size: var(--zc-priceCard-trialPrice-fontSize) !important;
  color: var(--zc-priceCard-trialPrice-color) !important;
}

.zotlo-checkout__price-table td.zotlo-checkout__price-table__footer {
  white-space: normal !important;
  text-align: left !important;
  font-weight: normal !important;
  font-size: 10px !important;
  color: var(--zc-priceCard-defaultColor) !important;
}

.zotlo-checkout__price-table .zotlo-checkout__price-table__fadeout td:last-child {
  color: var(--zc-priceCard-period-color) !important;
}

.zotlo-checkout__price-table__subtext {
  color: var(--zc-priceCard-period-subtextColor);
}

[dir="rtl"] .zotlo-checkout__price-table td.zotlo-checkout__price-table__footer {
  text-align: right !important;
}

.zotlo-checkout__price-table__footer [data-inline-renewal-details] strong {
  font-weight: 600;
}

.zotlo-checkout__price-table__footer a {
  color: currentColor;
  text-decoration: none;
}

.zotlo-checkout__price-table__footer a:hover {
  text-decoration: underline;
}

.zotlo-checkout__price-table table tr:last-child td {
  border-bottom: 0;
}

.zotlo-checkout__price-table__overline {
  font-size: 12px !important;
  text-decoration: line-through;
  color: var(--zc-priceCard-secondaryColor);
}

.zotlo-checkout__form__col2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
}

.zotlo-checkout__agreement, .zotlo-checkout__save-card  {
  color: var(--zc-form-consent-color);
  font-size: var(--zc-form-consent-fontSize);
  font-style: var(--zc-form-consent-fontStyle);
  text-decoration: var(--zc-form-consent-textDecoration);
}

.zotlo-checkout__agreement .zotlo-checkout__checkbox-label {
  align-self: center;
}
.zotlo-checkout__agreement .zotlo-checkout__checkbox-label,
.zotlo-checkout__agreement .zotlo-checkout__checkbox-label a,
.zotlo-checkout__save-card .zotlo-checkout__checkbox-label,
.zotlo-checkout__save-card .zotlo-checkout__checkbox-label a {
  font-size: var(--zc-form-consent-fontSize);
  font-weight: var(--zc-form-consent-fontWeight);
}

.zotlo-checkout__agreement .zotlo-checkout__checkbox-label a,
.zotlo-checkout__save-card .zotlo-checkout__checkbox-label a {
  color: currentColor;
  text-decoration: underline;
}

.zotlo-checkout__total {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 8px 0 16px;
}

.zotlo-checkout__total__price-info {
  display: flex;
  justify-content: space-between;
  color: var(--zc-form-totalPrice-color);
  font-size: 18px;
  font-weight: 600;
}

.zotlo-checkout__total__quantity-info {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: #78728C;
  text-align: left;
}

.zotlo-checkout__total__quantity-info-table-row td {
  padding-top: 0 !important;
}

.zotlo-checkout__total--basic {
  margin: 0 !important;
}

.zotlo-checkout__card-logos {
  display: flex;
  justify-content: center;
  margin: 8px 0;
  min-height: 33px;
}

.zotlo-checkout__card-logos img {
  display: block;
  max-height: 33px;
}

.zotlo-checkout__cardSubmit {
  margin-top: 16px;
}

.zotlo-checkout__button.provider {
  background-color: var(--zc-form-provider-backgroundColor);
}

.zotlo-checkout__button.provider img {
  max-height: 24px;
}

.zotlo-checkout__button.provider.paypal {
  background-color: #f6c444;
}

.zotlo-checkout__cardSubmit {
  color: var(--zc-form-submit-color);
  background-color: var(--zc-form-submit-backgroundColor);
  border: var(--zc-form-submit-borderWidth) solid var(--zc-form-submit-borderColor);
  border-radius: var(--zc-form-submit-borderRadius);
  font-weight: var(--zc-form-submit-fontWeight);
  font-style: var(--zc-form-submit-fontStyle);
  text-decoration: var(--zc-form-submit-textDecoration);
}

.zotlo-checkout__button[disabled], .zotlo-checkout__cardSubmit[disabled] {
  opacity: var(--zc-form-disabled-opacity);
  cursor: var(--zc-form-disabled-cursor);
}

.zotlo-checkout__cardSubmit:not([disabled]):hover {
  color: var(--zc-form-submit-hover-color);
  background-color: var(--zc-form-submit-hover-backgroundColor);
  border-color: var(--zc-form-submit-hover-borderColor);
}

.zotlo-checkout__card-title {
  margin-top: 24px;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  font-family: var(--zc-fontFamily, inherit);
  color: #0D0626;
  letter-spacing: 0;
}

.zotlo-checkout[data-theme="dark"] .zotlo-checkout__card-title {
  color: #6B7283;
}

.zotlo-checkout__seperator {
  display: flex;
  align-items: center;
  color: #818A9C;
}

.zotlo-checkout__seperator::before,
.zotlo-checkout__seperator::after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: #E7EAEE;
}

.zotlo-checkout__seperator span {
  flex-shrink: 0;
  padding: 0 16px;
  font-size: 12px;
}

.zotlo-checkout[data-theme="dark"] .zotlo-checkout__seperator {
  color: #6B7283;
}
.zotlo-checkout[data-theme="dark"] .zotlo-checkout__seperator::before,
.zotlo-checkout[data-theme="dark"] .zotlo-checkout__seperator::after {
  background-color: #6B7283;
}

.zotlo-checkout__footer {
  text-align: center;
  display: grid;
  gap: 12px;
  color: var(--zc-footer-color);
  font-size: var(--zc-footer-fontSize)
}

.zotlo-checkout__footer nav {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.zotlo-checkout__noMethod {
  max-width: 242px;
  margin: 0 auto;
  min-height: 530px;
  display: flex;
  align-items: center;
}

.zotlo-checkout__noMethod__wrapper {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  max-width: 242px;
  text-align: center;
  background-color: #F6F7F9;
  border-radius: 16px;
  font-size: 14px;
  color: #A9A7B1;
}

.zotlo-checkout__noMethod__title {
  font-weight: 600;
}

.zotlo-checkout__noMethod__action {
  border: none;
  border-radius: 6px;
  background-color: #4329CC;
  color: white;
  padding: 6px 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.zotlo-checkout__noMethod__action:hover {
  background-color: #3119a7;
}

.zotlo-checkout .zotlo-checkout__payment-provider {
  min-height: 48px;
}

.zotlo-checkout .zotlo-checkout__payment-provider.zotlo-checkout__payment-provider-button-wrapper.disabled {
  opacity: var(--zc-form-disabled-opacity);
  cursor: var(--zc-form-disabled-cursor);
}

.zotlo-checkout .zotlo-checkout__payment-provider.zotlo-checkout__payment-provider-button-wrapper.disabled * {
  pointer-events: none;
}

.zotlo-checkout .zotlo-checkout__payment-provider[data-tab-active="false"] {
  display: none;
  visibility: hidden;
}

.zotlo-checkout .zotlo-checkout__payment-provider[data-tab-active="true"] {
  display: block;
  visibility: visible;
}

.zotlo-checkout__success {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 5;
  min-height: 500px;
  text-align: center;
  color: var(--zc-success-color);
  background-color: var(--zc-form-backgroundColor);
  gap: 64px;
}

.zotlo-checkout[data-type="card"] .zotlo-checkout__success {
  min-height: 300px;
}

.zotlo-checkout__success__main {
  width: 100%;
}

.zotlo-checkout__success__main svg {
  margin: 0 auto;
}

.zotlo-checkout__success .zotlo-checkout__button {
  margin: 16px 0;
  color: var(--zc-success-button-color);
  border: var(--zc-success-button-borderWidth) solid var(--zc-success-button-borderColor);
  border-radius: var(--zc-success-button-borderRadius);
  background-color: var(--zc-success-button-backgroundColor);
  font-weight: var(--zc-success-button-fontWeight);
  font-style: var(--zc-success-button-fontStyle);
  text-decoration: var(--zc-success-button-textDecoration);
}

.zotlo-checkout__success .zotlo-checkout__button:hover {
  margin: 16px 0;
  color: var(--zc-success-button-hover-color);
  border-color: var(--zc-success-button-hover-borderColor);
  background-color: var(--zc-success-button-hover-backgroundColor);
}

.zotlo-checkout__success__title {
  font-weight: 600;
  font-size: 16px;
  margin-top: 4px;
}

.zotlo-checkout__success__desc {
  font-weight: 500;
  font-size: 14px;
  margin-top: 4px;
}

.zotlo-checkout[data-type="card"] .zotlo-checkout__success .zotlo-checkout__success__desc {
  margin-top: 15px;
}

.zotlo-checkout[data-type="card"] .zotlo-checkout__success .zotlo-checkout__cardSubmit {
  margin-top: 31px;
}

.zotlo-checkout__success__timer {
  font-weight: 500;
  font-size: 14px;
  margin: 4px auto 0;
  color: #68686A;
}

.zotlo-checkout__success__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  justify-content: center;
  max-width: 260px;
  margin: 16px auto 0;
}

.zotlo-checkout__success__buttons img {
  height: 34px;
  display: block;
}

.zotlo-checkout__offer {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 5;
  gap: 18px;
  text-align: center;
  background-color: var(--zc-form-backgroundColor);
  word-break: break-word;
}

.zotlo-checkout__offer__info {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  justify-content: center;
  color: var(--zc-offer-info-color);
  background-color: var(--zc-offer-info-backgroundColor);
}

.zotlo-checkout__offer__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.zotlo-checkout__offer__main-block {
  display: flex;
  gap: 18px;
  flex-direction: column;
  justify-content: center;
  min-height: 250px;
}

.zotlo-checkout__offer__main__text {
  display: flex;
  flex-direction: column;
  gap: 18px;
  text-align: center;
}

.zotlo-checkout__offer__main__descriptions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  font-weight: 600;
}

.zotlo-checkout__offer__description {
  display: flex;
  min-height: 40px;
  align-items: center;
  justify-content: center;
  color: var(--zc-offer-description-color);
  font-size: var(--zc-offer-description-fontSize);
}

.zotlo-checkout__offer__refPrice {
  font-weight: var(--zc-offer-refPrice-fontWeight);
  font-style: var(--zc-offer-refPrice-fontStyle);
  text-decoration: var(--zc-offer-refPrice-textDecoration);
}

.zotlo-checkout__offer__description--price {
  color: var(--zc-offer-priceText-color);
  font-size: var(--zc-offer-priceText-fontSize);
}

.zotlo-checkout__offer__title {
  font-weight: 600;
  color: var(--zc-offer-title-color);
  font-size: var(--zc-offer-title-fontSize);
}

.zotlo-checkout__offer__subtitle {
  font-weight: 500;
  line-height: 1.5;
  color: var(--zc-offer-subtitle-color);
  font-size: var(--zc-offer-subtitle-fontSize);
}

.zotlo-checkout__offer__image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 8px;
}

.zotlo-checkout__offer__actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.zotlo-checkout__offer .zotlo-checkout__offer__accept {
  color: var(--zc-offer-acceptButton-color);
  border: none;
  border-radius: var(--zc-offer-acceptButton-borderRadius);
  background-color: var(--zc-offer-acceptButton-backgroundColor);
  font-size: var(--zc-offer-acceptButton-fontSize);
}

.zotlo-checkout__offer .zotlo-checkout__offer__decline {
  color: var(--zc-offer-declineButton-color);
  border: none;
  background-color: transparent;
  font-size: var(--zc-offer-declineButton-fontSize);
  min-height: auto;
  padding: 0;
  font-weight: 400;
  align-self: center;
  width: auto;
}

.zotlo-checkout__payment-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.zotlo-checkout__payment-details__main {
  padding: 16px;
}

.zotlo-checkout__payment-details table tbody tr td.zotlo-checkout__payment-details__title-col,
.zotlo-checkout__payment-details table tbody tr td.zotlo-checkout__payment-details__text-col {
  color: var(--zc-success-color);
  white-space: normal;
  font-size: 12px;
  border-bottom: 1px solid #68686A;
}

.zotlo-checkout__payment-details table tbody tr:last-child td.zotlo-checkout__payment-details__title-col,
.zotlo-checkout__payment-details table tbody tr:last-child td.zotlo-checkout__payment-details__text-col {
  border-bottom: none;
}

.zotlo-checkout__payment-details-additional {
  margin-top: 16px;
}

.zotlo-checkout__payment-details__title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 8px;
}

.zotlo-checkout__payment-details .zotlo-checkout__payment-details__title-col {
  text-align: left;
  font-weight: 400;
}

.zotlo-checkout__payment-details .zotlo-checkout__payment-details__text-col {
  text-align: right;
  font-weight: 500;
  padding-left: 8px;
}

.zotlo-checkout__payment-details .zotlo-checkout__payment-details__payment-method {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.zotlo-checkout__payment-details .zotlo-checkout__payment-details__discount {
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.zotlo-checkout__payment-details .zotlo-checkout__payment-details__discount-text {
  color: #008BFF;
}

.zotlo-checkout__payment-details .zotlo-checkout__payment-details__discount-old-price {
  color: #737380;
  text-decoration: line-through;
}

.zotlo-checkout__payment-details .zotlo-checkout__payment-details__total-title {
  font-weight: 600;
}

.zotlo-checkout__payment-details .zotlo-checkout__payment-details__total {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.zotlo-checkout__payment-details .zotlo-checkout__payment-details__total-price {
  font-weight: 600;
  font-size: 14px;
}

.zotlo-checkout__payment-details .zotlo-checkout__payment-details__total-quantity-info {
  font-weight: 400;
  color: #737380;
}

.zotlo-checkout__payment-details__footer {
  color: #737380;
  font-size: 10px;
  line-height: 1.437;
  font-weight: 400;
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.zotlo-checkout__payment-details__footer-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 11px;
  color: var(--zc-success-color);
}

.zotlo-checkout__payment-details__footer a {
  color: #008BFF;
  text-decoration: none;
}

.zotlo-checkout__form-loader,
.zotlo-checkout__loader {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  width: 100%;
  height: 100%;
  background-color: #0B0B0BA3;
}

.zotlo-checkout__form-loader::before,
.zotlo-checkout__loader::before {
  position: relative;
  content: "";
  display: block;
  width: 44px;
  height: 44px;
  border: 3px solid transparent;
  border-top: 3px solid var(--zc-form-spinner-color);
  border-right: 3px solid var(--zc-form-spinner-color);
  border-bottom: 3px solid var(--zc-form-spinner-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.zotlo-checkout__loader.zotlo-checkout__loader--mini::before {
  width: 16px;
  height: 16px;
  border-width: 2px;
}

.zotlo-checkout__payment-provider .gpay-card-info-container-fill,
.zotlo-checkout__payment-provider .gpay-button-fill,
.zotlo-checkout__payment-provider .gpay-card-info-container-fill > .gpay-card-info-container {
  height: 48px;
}
.zotlo-checkout__payment-provider .gpay-card-info-container,
.zotlo-checkout__payment-provider .gpay-card-info-animation-container {
  outline: none !important;
}

.zotlo-checkout__payment-provider .gpay-card-info-container.gpay-card-info-custom-radius,
.zotlo-checkout__payment-provider .gpay-button.gpay-card-info-custom-radius {
  border-radius: 8px;
}

.gpay-card-info-container[disabled] {
  opacity: var(--zc-form-disabled-opacity);
  cursor: var(--zc-form-disabled-cursor);
}

.gpay-card-info-container[disabled].black.hover {
  background-color: #000;
}

.gpay-card-info-container[disabled].white.hover {
  background-color: #FFF;
}

.zotlo-checkout__card-all-cards-button {
  background: transparent;
  border: none;
  color: #008BFF;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  padding: 0;
  line-height: 20px;
  text-decoration: none;
  align-self: flex-end;
}

.zotlo-checkout__card-item {
  border: 1px solid #E7EAEE;
  border-radius: 8px;
  padding: 8px 16px 8px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.zotlo-checkout input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.zotlo-checkout input[type="radio"]:disabled {
  cursor: not-allowed;
}

.zotlo-checkout__card-item .zotlo-checkout__card-item-info {
  flex: 1;
}

.zotlo-checkout input[type="radio"]:checked ~ .zotlo-checkout__radio-button {
  border-color: #4329CC;
  background: #4329CC;
  position: relative;
}

.zotlo-checkout input[type="radio"]:checked ~ .zotlo-checkout__radio-button::after {
  content: '';
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
}

.zotlo-checkout__card-item:has(input[type="radio"]:checked), .zotlo-checkout__form-container:has(input[type="radio"]:checked) {
  background: var(--zc-form-card-item-backgroundColor);
  border-color: var(--zc-form-card-item-borderColor);
}

.zotlo-checkout__card-item:has(input[type="radio"]:disabled) {
  background: #F6F7F9;
  color: #C3C9D5;
  cursor: not-allowed;
}

.zotlo-checkout__card-item:has(input[type="radio"]:disabled) .zotlo-checkout__card-item-number,
.zotlo-checkout__card-item:has(input[type="radio"]:disabled) .zotlo-checkout__card-item-expiry-date {
  color: #C3C9D5;
}

.zotlo-checkout__card-item:has(input[type="radio"]:disabled) {
  background: #F6F7F9;
}

.zotlo-checkout__card-item:has(input[type="radio"]:disabled) .zotlo-checkout__radio-button {
  border: none;
}

.zotlo-checkout__radio-button {
  width: 20px;
  height: 20px;
  border: 2px solid #E7EAEE;
  border-radius: 50%;
  margin-right: 6px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.zotlo-checkout__card-item .zotlo-checkout__card-item-number {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--zc-form-card-item-color);
}

.zotlo-checkout__card-item .zotlo-checkout__card-item-expiry-date {
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  color: #737380;
}

.zotlo-checkout__card-item-logo {
  display: flex;
  align-items: center;
}

.zotlo-checkout__card-item-logo img {
  max-height: 24px;
}

.zotlo-checkout__card-item-logo span {
  font-size: 9px;
  line-height: 14px;
  color: #FF2D55;
  font-weight: 400;
}

.zotlo-checkout__form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #E7EAEE;
  border-radius: 8px;
}

.zotlo-checkout__form-container:has(input[type="radio"]:checked) .zotlo-checkout__form-card-fields {
  display: flex;
}

.zotlo-checkout__form-container-radio {
  padding: 16px 8px 16px 10px;
  display: flex;
  flex: 1;
  cursor: pointer;
}

.zotlo-checkout__form-container-radio-text {
  color: var(--zc-form-card-item-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.zotlo-checkout__form-card-fields {
  position: relative;
  display: none;
  flex-direction: column;
  gap: 16px;
  padding: 0 8px 16px;
}

div[data-discount-section] {
  margin-top: -16px;
}

.zotlo-checkout__discount-content {
  margin-top: 8px;
}

.zotlo-checkout__discount-content__input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.zotlo-checkout__discount-content .zotlo-checkout__input {
  padding: 0;
  overflow: hidden;
}

.zotlo-checkout__discount-content .zotlo-checkout__input input {
  padding: 16px 0 16px 16px;
}

.zotlo-checkout__discount-content [data-discount-error] {
  text-align: left;
  font-weight: var(--zc-form-input-label-fontWeight, 500);
}

.zotlo-checkout__discount-content button {
  height: 40px;
  border-radius: 0;
  background: transparent;
  border: 0;
  padding: 0 16px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  color: #008BFF;
}

.zotlo-checkout__discount-content .zotlo-checkout__discount-content__toggle-container {
  display: flex;
  justify-content: flex-end;
}

.zotlo-checkout__discount-content .zotlo-checkout__discount-content__toggle-container button {
  padding: 0;
}

.zotlo-checkout__discount-content[data-discount-content="false"] .zotlo-checkout__discount-content__input-container,
.zotlo-checkout__discount-content[data-discount-content="true"] button[data-discount-toggle] {
  display: none;
}

.zotlo-checkout__discount-content button[data-discount-toggle],
.zotlo-checkout__discount-content__discount-applied {
  height: 42px;
}

.zotlo-checkout__discount-content__discount-applied {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: #008BFF;
}

.zotlo-checkout__discount-content__discount-applied .zotlo-checkout__loader {
  display: none;
}

.zotlo-checkout__discount-content__discount-applied[data-loading="true"] .zotlo-checkout__loader {
  display: flex;
}

.zotlo-checkout__discount-content__discount-applied[data-loading="true"] .zotlo-checkout__discount-content__coupon,
.zotlo-checkout__discount-content__discount-applied[data-loading="true"] .zotlo-checkout__discount-content__price-info {
  opacity: .5;
}

.zotlo-checkout__discount-content__coupon {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  background-color: #F4FCFF;
  color: #008BFF;
}

[data-theme="dark"] .zotlo-checkout__discount-content__coupon {
  background-color: #008BFF;
  color: #C6EFFF;
}

.zotlo-checkout__discount-content__price-info {
  display: flex;
  position: relative;
  gap: 6px;
  align-items: center;
}

.zotlo-checkout__discount-content__price-info--old {
  color: #A9A7B1;
  text-decoration: line-through;
}

.zotlo-checkout__discount-content button[data-discount-remove] {
  padding: 0;
  height: 16px;
  color: #A9A7B1;
}

.zotlo-checkout__discount-content button[data-discount-action] {
  overflow: hidden;
  position: relative;
}

.zotlo-checkout__discount-content button[data-discount-action] .zotlo-checkout__loader {
  display: none;
}

.zotlo-checkout__discount-content button[data-discount-action='loading'] span {
  opacity: 0;
  visibility: hidden;
}

.zotlo-checkout__discount-content button[data-discount-action='loading'] .zotlo-checkout__loader {
  display: flex;
}

.zotlo-checkout__discount-content .zotlo-checkout__loader {
  background-color: transparent;
}

.zotlo-checkout__discount-content .zotlo-checkout__loader::before {
  border-top-color: #008BFF;
  border-right-color: #008BFF;
  border-bottom-color: #008BFF;
}

[data-theme="dark"] button[data-discount-remove] {
  color: #1A182280; /* #1A1822 with 0.5 opacity */
}

.zotlo-checkout table td.zotlo-checkout__discount-content-cell {
  text-align: left;
}

.zotlo-checkout__package__summary .zotlo-checkout__discount-content-cell {
  padding-bottom: 0;
  border-bottom: none;
}

[data-theme="dark"] .zotlo-checkout__modal[data-modal="all-cards"] .zotlo-checkout__card-item .zotlo-checkout__card-item-number {
  color: #0D0626;
}

.zotlo-checkout__modal[data-modal="all-cards"] .zotlo-checkout__modal__content {
  max-width: 440px;
  height: auto;
  max-height: 95%;
}

.zotlo-checkout__modal[data-modal="all-cards"] .zotlo-checkout__modal__content__header {
  padding: 16px 24px;
  border-color: #E7EAEE;
}

.zotlo-checkout__modal[data-modal="all-cards"] .zotlo-checkout__modal__content__header__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.zotlo-checkout__modal[data-modal="all-cards"] .zotlo-checkout__modal__content__body {
  display: flex;
  flex-flow: column;
  padding: 24px;
  gap: 16px;
  overflow: auto;
}

.zotlo-checkout__modal[data-modal="all-cards"] .zotlo-checkout__modal__content__footer {
  border-color: #E7EAEE;
}

.zotlo-checkout__modal[data-modal="all-cards"] .zotlo-checkout__modal__content__footer a {
  height: 32px;
  display: flex;
  align-items: center;
}

.zotlo-checkout__modal[data-modal="all-cards"] .zotlo-checkout__modal__content__footer button {
  max-height: 40px;
}

.zotlo-checkout__modal[data-modal="all-cards"] .zotlo-checkout__modal__content__footer .zotlo-checkout__modal--all-cards-footer-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 640px) {
  .zotlo-checkout {
    border: var(--zc-form-borderWidth, 1px) solid var(--zc-form-borderColor, #E7EAEE);
  }
}

@media screen and (max-width: 440px) {
  .zotlo-checkout__modal[data-modal="all-cards"] .zotlo-checkout__modal__content__header,
  .zotlo-checkout__modal[data-modal="all-cards"] .zotlo-checkout__modal__content__body,
  .zotlo-checkout__modal[data-modal="all-cards"] .zotlo-checkout__modal__content__footer {
    padding: 16px;
  }

  .zotlo-checkout__modal[data-modal="all-cards"] .zotlo-checkout__modal__content__footer .zotlo-checkout__modal--all-cards-footer-holder {
    flex-direction: column-reverse;
    gap: 16px;
  }

  .zotlo-checkout__modal[data-modal="all-cards"] .zotlo-checkout__button-container {
    width: 100%;
  }

  .zotlo-checkout__modal[data-modal="all-cards"] .zotlo-checkout__modal__content__footer button {
    flex: 1;
  }
}
