.zotlo-checkout__tooltip {
  position: absolute;
  top: 100%;
  right: -8px;
  display: none;
  filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.12));
  z-index: 1;
}

.zotlo-checkout__tooltip__arrow {
  position: absolute;
  right: 8px;
  color: white;
}

.zotlo-checkout__tooltip__content {
  background-color: white;
  border-radius: 8px;
  margin-top: 8px;
  color: #151B26;
  font-size: 14px;
  font-weight: 500;
  padding: 16px;
}

.zotlo-checkout[dir="rtl"] .zotlo-checkout__tooltip {
  right: auto;
  left: -8px;
}

.zotlo-checkout[dir="rtl"] .zotlo-checkout__tooltip__arrow {
  right: auto;
  left: 8px;
}

.zotlo-checkout[data-theme="dark"] .zotlo-checkout__tooltip {
  filter: drop-shadow(0px 0px 1px #3C4353) drop-shadow(0px 0px 4px #242A38);
}

.zotlo-checkout[data-theme="dark"] .zotlo-checkout__tooltip__arrow {
  color: #19191C;
}

.zotlo-checkout[data-theme="dark"] .zotlo-checkout__tooltip__content {
  background-color: #19191C;
}
