.zotlo-checkout__tooltip {
  position: absolute;
  top: 100%;
  right: -8px;
  display: none;
  filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.12));
}

.zotlo-checkout__tooltip__arrow {
  position: absolute;
  right: 8px;
  color: white;
}

.zotlo-checkout__tooltip__content {
  background-color: white;
  border-radius: 8px;
  margin-top: 8px;
  color: #151B26;
  font-size: 14px;
  font-weight: 500;
  padding: 16px;
}
